{% extends "base_layout.twig" %}
{% block title %}Alterar Categoria{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Alterar Categoria</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Alterar Categoria</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dados do Categoria</h3>
                </div>
                <form role="form" action="{{base_url}}categoria/atualizar/{{ categoria.id_categoria }}" method="post" onSubmit="return btnCadastrar();">
                    <div class="box-body">
                        
                        <div class="col-xs-12 col-sm-12 col-md-5">
                            <label for="id">Código Categoria</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" 
                                   placeholder="Digite a categoria" value="{{ categoria.id_categoria }}" disabled>
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-12" id="divNome">
                            <label for="descricao">Descrição</label>
                            <input type="text" class="form-control" id="descricao" name="descricao" 
                                   placeholder="Digite a categoria" value="{{ categoria.titulo }}" onBlur="verificarNome();">
                        </div>                       
                        
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Alterar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        
        function btnCadastrar(){
           return verificarNome();
        }
        
        function verificarNome() {
            var nome = $("#descricao").val();
            if(nome.length === 0) {
                document.querySelector("#divNome").setAttribute('class', 'col-xs-12 col-sm-12 col-md-12 has-error has-feedback');
                document.querySelector("#descricao").focus();
                return false;
            } else {
                document.querySelector("#divNome").setAttribute('class', 'col-xs-12 col-sm-12 col-md-12');
                return true;
            }
            
        }
        
    </script>
{% endblock %}