{% extends "base_layout.twig" %}
{% block title %}Dashboard{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Área Administrador</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <a href="{{base_url}}cliente/listar" style="color: #fff;">
                            <i class="fa fa-user"></i>
                        </a>
                    </span>

                    <div class="info-box-content">
                        <a href="{{base_url}}cliente/listar" style="color: #000;">
                            <span class="info-box-text">Clientes</span>
                            <span class="info-box-number">{{qntCliente}}</span>
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green">
                        <a href="{{base_url}}servico/listar" style="color: #fff;">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </span>

                    <div class="info-box-content">
                        <a href="{{base_url}}servico/listar" style="color: #000;">
                            <span class="info-box-text">Serviços</span>
                            <span class="info-box-number">{{qntServico}}</span>
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow">
                        <a href="{{base_url}}produto/listar" style="color: #fff;">
                            <i><img src="{{base_url}}public/dist/img/icons/produtos-sigma.png" alt="produtos"></i>
                        </a>
                    </span>

                    <div class="info-box-content">
                        <a href="{{base_url}}produto/listar" style="color: #000;">
                            <span class="info-box-text">Produtos</span>
                            <span class="info-box-number">{{qntProduto}}</span>
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
           <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-vinho">
                        <a href="{{base_url}}orcamento/listar" style="color: #fff;">
                            <i class="fa fa-automobile"></i>
                        </a>
                    </span>

                    <div class="info-box-content">
                        <a href="{{base_url}}orcamento/listar" style="color: #000;">
                            <span class="info-box-text">Orçamentos</span>
                            <span class="info-box-number">{{qntOrcamento}}</span>
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

                      <div class="col-md-3 col-sm-6 col-xs-12">
                           <div class="info-box">
                               <span class="info-box-icon bg-red">
                                   <a href="{{base_url}}servico/listar" style="color: #fff;">
                                       <i class="fa fa-list-alt"></i>
                                   </a>
                               </span>
           
                               <div class="info-box-content">
                                   <a href="{{base_url}}servico/listar" style="color: #000;">
                                       <span class="info-box-text">Ordens de <br/> Serviço</span>
                                       <span class="info-box-number">{{qntServico}}</span>
                                   </a>
                               </div>
                               <!-- /.info-box-content -->
                           </div>
                           <!-- /.info-box -->
                       </div>
            <!-- /.col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-verde">
                        <a href="{{base_url}}despesageral/listar" style="color: #fff;">
                            <img alt="produtos" src="/public/dist/img/icons/despesas-sigma.png">
                        </a>
                    </span>

                    <div class="info-box-content">
                        <a href="{{base_url}}DespesaGeral/listar" style="color: #000;">
                            <span class="info-box-text">Despesas</span>
                            <span class="info-box-number">{{qntDespesa}}</span>
                        </a>
                    </div>
                </div>
            </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-chumbo">
                          <a href="{{base_url}}compra/listar" style="color: #fff;">
                            <img alt="pedidos de compra" src="public/dist/img/icons/pedidos-sigma.png">
                        </a>
                    </span>

                    <div class="info-box-content">
                        <a href="{{base_url}}compra/listar" style="color: #000;">
                            <span class="info-box-text">Pedidos de<br/> compra</span>
                            <span class="info-box-number">{{qntCompra}}</span>
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-azul">
                        <a href="{{base_url}}fornecedor/listar" style="color: #fff;">
                            <i class="fa fa-truck"></i>
                        </a>
                    </span>

                    <div class="info-box-content">
                        <a href="{{base_url}}fornecedor/listar" style="color: #000;">
                            <span class="info-box-text" style="
                                font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif';
                                font-size: 10pt;">Fornecedores</span>
                            <span class="info-box-number">{{qntFornecedor}}</span>
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->


        </div>
        <!-- /.row -->
    {% endblock %}