{% extends "base_layout.twig" %}
{% block title %}Deletar Usuário{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Deletar usuário</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Deletar Usuário</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dados do usuário</h3>
                </div>
                <form role="form" action="{{base_url}}admin/deletarUsuarioSelecionado/{{ usuario.id_usuario }}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input type="text" class="form-control" id="login" name="login" placeholder="Digite o login" value="{{ usuario.login }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="login">Nome usuário</label>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o Nome" value="{{ usuario.nome }}" disabled>
                        </div>                        
                        <div class="form-group">
                            <label for="login">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Digite o email" value="{{ usuario.email }}" disabled>
                        </div>
                        <div class="form-group">                            
                            <label for="exampleInputEmail1">Perfil</label>
                            <select class="form-control" name="perfil" disabled>
                                {% for Perfil in tiposPerfis %}
                                    {% if Perfil.id_tipo_perfil == usuario.id_tipo_perfil %}
                                        <option selected="selected" value="{{ Perfil.id_tipo_perfil }}">{{ Perfil.titulo }}</option>
                                    {% else %}
                                        <option value="{{ Perfil.id_tipo_perfil }}">{{ Perfil.titulo }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>                        
                        </div>                   
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Deletar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}  