{% extends "base_layout.twig" %}
{% block title %}Orçamentos{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Listar Orçamentos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Listar Orçamentos</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    {% if message_success is not empty %}
                        <div class="alert alert-success alert-dismissible fade in" role="alert" id="alerta">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>Atenção!</strong>
                            {{message_success}}
                        </div>
                    {% endif %}
                    <br>
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable" id="tabelaOrcamento" role="grid" aria-describedby="">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Codigo</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Status</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Cliente</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Tipo de Pagamento</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Data Abertura</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Valor</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for orcamento in orcamentos %}
                                            <tr>
                                                <td>{{ orcamento.id_orcamento }}</td>
                                                {% for statu in status %}
                                                    {% if statu.id_status == orcamento.id_status %}
                                                        <td>{{ statu.titulo }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for cliente in clientes %}
                                                    {% if cliente.id_cliente == orcamento.id_cliente %}
                                                        <td>{{ cliente.nome }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for tipoPagamento in tipoPagamentos %}
                                                    {% if tipoPagamento.id_tipo_pagamento == orcamento.id_tipo_pagamento %}
                                                        <td>{{ tipoPagamento.titulo }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                <td>{{ orcamento.data_criacao|date('d/m/Y') }}</td>
                                                <td class="text-right">{{ orcamento.total_liquido|number_format(2, ',', '.') }}</td>
                                                <td>
                                                    <a class="btn btn-primary btn-xs" href="{{base_url}}orcamento/visualizar/{{ orcamento.id_orcamento }}">Visualizar</a>
                                                    <a class="btn btn-primary btn-xs" href="{{base_url}}orcamento/editar/{{ orcamento.id_orcamento }}">Alterar</a>
                                                    <a class="btn btn-danger btn-xs" href="{{base_url}}orcamento/deletar/{{ orcamento.id_orcamento }}">Excluir</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary btn-lg" href="{{base_url}}orcamento/novo">Incluir</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $("#alerta").fadeTo(2000, 500).slideUp(500, function(){
            $("#alerta").alert('close');
        });

        $(document).ready(function(){
            $('#tabelaOrcamento').DataTable();
        });
    </script>
{% endblock %}