{% extends "base_layout.twig" %}
{% block title %}Listar Fornecedor{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Listar fornecedor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Listar fornecedor</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <form role="form" action="{{base_url}}fornecedor/buscar" method="GET">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>

                        <input type="text" name="busca" class="form-control" 
                               placeholder="Selecione uma opção de busca" >
                        <span class="input-group-addon"><input type="submit"  value="buscar"></span>
                    </div>
                    <input type="radio" name="tipo_busca" value="nome"> Nome
                    <input type="radio" name="tipo_busca" value="cpf"> CPF/CNPJ
                    <input type="radio" name="tipo_busca" value="nome_fantasia"> Nome Fantasia
                </form>
                <br>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Id</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Nome</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Nome Fantasia</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Email</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Bairro</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Cidade</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">UF</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fornecedor in fornecedores %}
                                            <tr>
                                                <td>{{ fornecedor.id_fornecedor }}</td>
                                                <td>{{ fornecedor.nome }}</td>
                                                <td>{{ fornecedor.nome_fantasia }}</td>
                                                <td>{{ fornecedor.email }}</td>
                                                <td>{{ fornecedor.bairro }}</td>
                                                <td>{{ fornecedor.cidade }}</td>
                                                <td>{{ fornecedor.uf }}</td>
                                                <td>
                                                    <a class="btn btn-primary btn-xs" href="{{base_url}}fornecedor/editar/{{ fornecedor.id_fornecedor }}">Alterar</a>
                                                    <a class="btn btn-danger btn-xs" href="{{base_url}}fornecedor/deletar/{{ fornecedor.id_fornecedor }}">Excluir</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary btn-lg" href="{{base_url}}fornecedor/novo">Incluir</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}	