{% extends "base_layout.twig" %}
{% block title %}Alterar Produto{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Alterar Produto</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Alterar Produto</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h1 class="box-title">Dados do Produto<br><small>*Campos obrigatorios</small></h1>
                </div>
                <form class="form-horizontal" role="form" action="{{base_url}}produto/atualizar/{{ produto.id_produto }}" 
                      method="post" class="form-incline" onSubmit="return btnCadastrar();">
                    
                    <div id="box"></div>
                    <div class="box-body">
                        
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label for="id">Código Produto</label>
                                <input type="text" class="form-control" id="id" name="id"
                                  value="{{ produto.id_produto }}" disabled>
                            </div>
                        
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label for="nome">Código Fabricante</label>
                                <input type="text" class="form-control" id="codFornecedor" name="codFornecedor" 
                                   placeholder="Digite o código do fabricante" maxlength="40">
                            </div>
                        </div>    
                        
                        <div class="form-group">    
                            <div class="col-xs-12 col-sm-12 col-md-12" id="divNome">
                                <label for="nome">Descrição</label>
                                <input type="text" class="form-control" id="nome" name="nome" 
                                   placeholder="Digite a descrição do produto" 
                                   value="{{ produto.nome }}" maxlength="40" onBlur="verificarNome();">
                            </div>
                        </div>    
                        
                        <div class="form-group">    
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label for="quantEstoque">Quantidade em estoque</label>
                                <input type="number" class="form-control" id="quantEstoque" 
                                   name="quantEstoque" min="0" value="{{ produto.quantidade_estoque }}" max="99999999999" disabled>
                            </div>                        
                        
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label for="quantReservada">Quantidade reservada</label>
                                <input type="number" class="form-control" id="quantReservada" 
                                   name="quantReservada" min="0" value="{{ produto.quantidade_reservada }}" max="99999999999" 
                                   disabled>
                            </div>
                        </div>           
                        
                        <div class="form-group">           
                            <div class="col-xs-12 col-sm-6 col-md-6" id="divValorCusto">
                                <label for="valorCusto">Valor Custo</label>
                                <input type="text" class="form-control" id="valorCusto" 
                                   name="valorCusto" value="{{ produto.valor_custo }}" 
                                   maxlength="11" onBlur="verificarValorCusto();">
                            </div>
                        
                            <div class="col-xs-12 col-sm-6 col-md-6" id="divValorVenda">
                                <label for="valorVenda">Valor Venda</label>
                                <input type="text" class="form-control" id="valorVenda" 
                                   name="valorVenda" value="{{ produto.valor_venda }}" 
                                   maxlength="11" onBlur="verificarValorVenda();">
                            </div>
                        </div>           
                        
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label for="exampleInputEmail1">Marca</label>
                                <select class="form-control" name="marca">
                                    {% for marca in marcas %}
                                        {% if marca.id_marca == produto.id_marca %}
                                            <option selected="selected" value="{{ marca.id_marca }}">{{ marca.titulo }}</option>
                                        {% else %}
                                            <option value="{{ marca.id_marca }}">{{ marca.titulo }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label for="exampleInputEmail1">Categoria</label>
                                <select class="form-control" name="categoria">
                                    {% for categoria in categorias %}
                                        {% if categoria.id_categoria == produto.id_categoria %}
                                            <option selected="selected" value="{{ categoria.id_categoria }}">{{ categoria.titulo }}</option>
                                        {% else %}
                                            <option value="{{ categoria.id_categoria }}">{{ categoria.titulo }}</option>
                                        {% endif %}                                    
                                    {% endfor %}
                                </select>
                            </div>
                        </div>        
                            
                    </div>
                    <div class="box-footer text-right">
                        <button type="submit" class="btn btn-success">Editar</button>
                        <a href="{{base_url}}produto/listar">
                            <button type="button" class="btn btn-danger">Cancelar</button></a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function ($) {
            $("#valorVenda").maskMoney({thousands:'.', decimal:','});
            $("#valorCusto").maskMoney({thousands:'.', decimal:','});
            
            $("#alerta").fadeTo(2000, 500).slideUp(700, function(){
                $("#alerta").alert('close');
            });   
        });
        
        function btnCadastrar(){
           if (verificarNome() & verificarValorVenda() & verificarValorCusto()) {
             return true;   
           } else {
             document.querySelector("#box").innerHTML = '<div class="alert alert-danger alert-dismissible fade in" role="alert" id="alerta"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><strong>Existem campos que devem ser preenchidos!</strong></div>';  
             return false;
           }
       }

        function verificarNome(){
            if(document.querySelector("#nome").value === ""){
                document.querySelector("#divNome").setAttribute('class', 'col-xs-12 col-sm-12 col-md-12 has-error has-feedback');
                document.querySelector("#nome").focus();
                return false;
            } else {
                document.querySelector("#divNome").setAttribute('class', 'col-xs-12 col-sm-12 col-md-12');
                return true;
            }
        }
        
        function verificarValorVenda() {
            var valor = $("#valorVenda").maskMoney('unmasked')[0];
            
            if(valor <= 0) {
                document.querySelector("#divValorVenda").setAttribute('class', 'col-xs-12 col-sm-6 col-md-6 has-error has-feedback');
                document.querySelector("#valorVenda").focus();
                return false;
            } else {
                document.querySelector("#divValorVenda").setAttribute('class', 'col-xs-12 col-sm-6 col-md-6');
                return true;
            }
        }
        
        function verificarValorCusto() {
            var valor = $("#valorCusto").maskMoney('unmasked')[0];
            
            if(valor <= 0) {
                document.querySelector("#divValorCusto").setAttribute('class', 'col-xs-12 col-sm-6 col-md-6 has-error has-feedback');
                document.querySelector("#valorCusto").focus();
                return false;
            } else {
                document.querySelector("#divValorCusto").setAttribute('class', 'col-xs-12 col-sm-6 col-md-6');
                return true;
            }
        }
        
    </script>
{% endblock %}