{% extends "base_layout.twig" %}
{% block title %}Novo Produto{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Novo Produto</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Novo Produto</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dados do Produto</h3>
                </div>
                <form role="form" action="{{base_url}}produto/adicionar" method="post" class="form-incline" 
                      onSubmit="return btnCadastrar();">
                    <div class="box-body">
                        
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="codFornecedor">Código Fabricante</label>
                            <input type="text" class="form-control" id="codFornecedor" name="codFornecedor" 
                                   placeholder="Digite o código do fabricante" maxlength="40">
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-12" id="divNome">
                            <label for="nome">Descrição</label>
                            <input type="text" class="form-control" id="nome" name="nome" 
                                   placeholder="Digite a descrição do produto" maxlength="40"
                                   onBlur="verificarNome();">
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="quantEstoque">Quantidade em estoque</label>
                            <input type="number" class="form-control" id="quantEstoque" name="quantEstoque" 
                                   min="0" value=0 max="99999999999">
                        </div>                        
                        
                        <div class="col-xs-12 col-sm-6 col-md-6" id="divValorCusto">
                            <label for="valorCusto">Valor Custo</label>
                            <input type="text" class="form-control" id="valorCusto" 
                                   name="valorCusto" placeholder="" maxlength="11" 
                                   value="0" placeholder="0.00" onBlur="verificarValorCusto();">
                            
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-6" id="divValorVenda">
                            <label for="valorVenda">Valor Venda</label>
                            <input type="text" class="form-control" id="valorVenda" 
                                   name="valorVenda" placeholder="" 
                                   value="0" placeholder="0.00" onBlur="verificarValorVenda();">
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="exampleInputEmail1">Marca</label>
                            <select class="form-control" name="marca">
                                {% for marca in marcas %}
                                    <option value="{{ marca.id_marca }}">{{ marca.titulo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="exampleInputEmail1">Categoria</label>
                            <select class="form-control" name="categoria">
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id_categoria }}">{{ categoria.titulo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            
                    </div>
                            
                    <div class="box-footer">                        
                        <input type="submit" class="btn btn-primary" value="Cadastrar">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function ($) {
            $("#valorVenda").maskMoney();
            $("#valorCusto").maskMoney();
        });

        function btnCadastrar(){
           if (verificarNome() & verificarValorVenda() & verificarValorCusto()) {
             return true;   
           } else {
             return false;
           }
       }

        function verificarNome(){
            if(document.querySelector("#nome").value === ""){
                document.querySelector("#divNome").setAttribute('class', 'col-xs-12 col-sm-12 col-md-12 has-error has-feedback');
                document.querySelector("#nome").focus();
                return false;
            } else {
                document.querySelector("#divNome").setAttribute('class', 'col-xs-12 col-sm-12 col-md-12');
                return true;
            }
        }
        
        function verificarValorVenda() {
            var valor = $("#valorVenda").maskMoney('unmasked')[0];
            
            if(valor <= 0) {
                document.querySelector("#divValorVenda").setAttribute('class', 'col-xs-12 col-sm-6 col-md-6 has-error has-feedback');
                document.querySelector("#valorVenda").focus();
                return false;
            } else {
                document.querySelector("#divValorVenda").setAttribute('class', 'col-xs-12 col-sm-6 col-md-6');
                return true;
            }
        }
        
        function verificarValorCusto() {
            var valor = $("#valorCusto").maskMoney('unmasked')[0];
            
            if(valor <= 0) {
                document.querySelector("#divValorCusto").setAttribute('class', 'col-xs-12 col-sm-6 col-md-6 has-error has-feedback');
                document.querySelector("#valorCusto").focus();
                return false;
            } else {
                document.querySelector("#divValorCusto").setAttribute('class', 'col-xs-12 col-sm-6 col-md-6');
                return true;
            }
        }
        
    </script>
{% endblock %}