{% extends "base_layout.twig" %}
{% block title %}Despesa Geral{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Listar Despesa Geral</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Listar Despesa Geral</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    {% if message_success is not empty %}
                        <div class="alert alert-success alert-dismissible fade in" role="alert" id="alerta">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>Atenção!</strong>
                            {{message_success}}
                        </div>
                    {% endif %}
                    <a class="btn btn-primary" href="{{base_url}}DespesaGeral/novo">Incluir Despesa Geral</a>
                    <br/><br/>
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group col-sm-2">
                                    Filtrar despesas por:
                                    <select class="form-control" name="tipo_busca" id="buscaStatus">
                                        <option disabled selected>Selecione</option>
                                         <option value=" "> </option>
                                        <option value="Aberta">Aberta</option>
                                        <option value="Atrasada">Atrasada</option>
                                        <option value="Paga">Paga</option>
                                    </select>
                                </div>   
                                <table class="table table-bordered table-hover dataTable" id="tabelaDespesas" role="grid" aria-describedby="">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Codigo</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Categoria</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Status</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Valor</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody id="fbody">
                                        {% for despesa in despesageral %}
                                            <tr>
                                                <td>{{ despesa.id_despesa }}</td>
                                                <td>{{ despesa.categoria }}</td>
                                                <td>{{ despesa.status }}</td>
                                                <td>{{ despesa.total }}</td>
                                                <td>
                                                    <a class="btn btn-primary btn-xs" href="{{base_url}}DespesaGeral/visualizar/{{ despesa.id_despesa }}">Visualizar</a>
                                                    {%if despesa.id_status ==1%}
                                                        <a class="btn btn-primary btn-xs" href="{{base_url}}DespesaGeral/editar/{{ despesa.id_despesa }}">Alterar</a>
                                                    {%endif%}
                                                    {%if despesa.id_status != 2%}
                                                        <a class="btn btn-danger btn-xs" href="{{base_url}}DespesaGeral/deletar/{{ despesa.id_despesa }}">Excluir</a>
                                                    {%endif%}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}	
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabelaDespesas').DataTable({
                "iDisplayLength": 20,
                "order": [0, "desc"],
                "language": {
                    "sLengthMenu": "",
                },
            });
        });

        $('#buscaStatus').change(function () {
            var rows = $("#fbody").find("tr").hide();
            var data = this.value.split(" ");
            $.each(data, function (i, v) {
                rows.filter(":contains('" + v + "')").show();
            });

        })

    </script>
{% endblock %}