{% extends "base_layout.twig" %}
{% block title %}Despesa Geral{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Listar Despesa Geral</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Listar Despesa Geral</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    {% if message_success is not empty %}
                        <div class="alert alert-success alert-dismissible fade in" role="alert" id="alerta">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>Atenção!</strong>
                            {{message_success}}
                        </div>
                    {% endif %}
                    <form role="form" action="{{base_url}}despesageral/buscar" method="GET">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>

                            <input type="text" name="busca" class="form-control" 
                                   placeholder="Selecione uma opção de busca" >
                            <span class="input-group-addon"><input type="submit"  value="buscar"></span>
                        </div>
                        <br/>    
                        <div class="input-group col-sm-2">
                         <select class="form-control" name="tipo_busca">
                            <option disabled selected>Selecione</option>
                                <option value="codigo">Codigo</option>
                                <option value="categoria">Categoria</option>
                                <option value="status">Status</option>
                                <option value="valor">Valor</option>
                         </select>
                         </div>   
                    </form>
                    <br>
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Codigo</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Categoria</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Status</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Valor</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for despesa in despesageral %}
                                            <tr>
                                                <td>{{ despesa.id_despesa }}</td>
                                                <td>{{ despesa.categoria }}</td>
                                                <td>{{ despesa.status }}</td>
                                                <td>{{ despesa.total }}</td>
                                                <td>
                                                    <a class="btn btn-primary btn-xs" href="{{base_url}}DespesaGeral/visualizar/{{ despesa.id_despesa }}">Visualizar</a>
                                                    <a class="btn btn-primary btn-xs" href="{{base_url}}DespesaGeral/editar/{{ despesa.id_despesa }}">Alterar</a>
                                                    <a class="btn btn-danger btn-xs" href="{{base_url}}DespesaGeral/deletar/{{ despesa.id_despesa }}">Excluir</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary btn-lg" href="{{base_url}}DespesaGeral/novo">Incluir</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}	