{% extends "base_layout.twig" %}
{% block title %}Despesa Geral{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Editar Despesa Geral</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Editar Despesa Geral</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h1 class="box-title">Dados de Despesa<br><small>*Campos obrigatorios</small></h1>
                </div>
                <form class="form-horizontal" role="form" action="{{base_url}}despesageral/atualizar" method="post" 
                      onSubmit="return btnCadastrar();">
                    
                        <div id="box"></div>
                        <div class="box-body">
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-5">
                                    <label for="id">Código Despesa Geral</label>
                                    <input type="text" class="form-control" id="id" name="id"
                                        value="{{ despesa.id_despesa }}" disabled>
                                </div> 
                            </div> 
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-md-6" id="divCategoria">
                                    <label for="categoria">Categoria</label>
                                    <select class="form-control" name="categoria" disabled>
                                        {% for marca in marcas %}
                                            <option value="{{ marca.id_marca }}">{{ marca.titulo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            
                                <div class="col-xs-12 col-sm-6 col-md-6" id="divStatus">
                                    <label for="descricao">Status</label>
                                    <input type="text" class="form-control" id="status" name="status" disabled>
                                </div>
                            </div>    
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-4 col-md-4" id="divCriacao">
                                    <label for="data_criacao">Data de Criação</label>
                                    <input id="data_criacao" type="date" class="form-control" 
                                           name="data_criacao" placeholder="Digite a data de criação"
                                           value="{{ despesa.data_criacao }}" disabled>
                                </div>
                            
                                <div class="col-xs-12 col-sm-4 col-md-4" id="divVencimento">
                                    <label for="data_vencimento">Data de Vencimento</label>
                                    <input id="data_vencimento" type="date" class="form-control" 
                                           name="data_vencimento" placeholder="Digite a data de vencimento"
                                           value="{{ despesa.data_vencimento }}" disabled>
                                </div>
                            
                                <div class="col-xs-12 col-sm-4 col-md-4" id="divPagamento">
                                     <label for="data_pagamento">Data de Pagamento</label>
                                    <input id="data_pagamento" type="date" class="form-control" 
                                           name="data_pagamento" placeholder="Digite a data de pagamento"
                                           value="{{ despesa.data_pagamento }}" disabled>
                                </div>
                            </div>    
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <label>Observações</label>
                                    <textarea class="form-control" name="observacoes" rows="3"
                                              value="{{ despesa.observacoes }}" disabled></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-4 col-md-4" id="divValorTotal">
                                <label for="valorTotal">Valor Total</label>
                                <input type="text" class="form-control" id="valorTotal" 
                                   value="0" placeholder="0.00" value="{{ despesa.total }}" disabled>
                            </div>    
                            
                        </div>
                    
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                        <a href="{{base_url}}despesageral/listar">
                        <button type="button" class="btn btn-danger">Cancelar</button></a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function ($) {
            $("#data_vencimento").mask('99/99/9999');
            $("#data_criacao").mask('99/99/9999');
            $("#data_pagamento").mask('99/99/9999');
            $("#valorTotal").maskMoney({thousands:'.', decimal:','});
            
        });
        
        function btnCadastrar(){
           return true;
        }
        
    </script>
{% endblock %}